#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

.skillTitle {
    color: yellow;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    
}

.skillDescription {
    font-weight: 200;
    font-size: 1.5rem;
    max-width: 50rem;
    padding: 0 2rem;

}

.skillBars {
    margin: 1.5rem;
    /* width: 100vw; */
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: black;
    transition: all 0.3s ease;

}

.skillBar:hover {
    transform: scale(1.05);
    /* background-color: yellow; */
    /* border: 1px solid black; */
    /* color: black; */
}

/* .skillBar:hover .skillBarImg {
    filter: brightness(0);
} */

.skillBarText {
    color: white;
    line-height: 2rem;
}

/* .skillBarText:hover {
    color: black;
} */



.skillBarImg {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    
     
}

@media (max-width: 460px) {
    .skillBarText {
        font-size: 0.75rem;
        line-height: 1.75rem;
    }
    .skillTitle {
        font-size: 2rem;
    }
    .skillDescription {
        font-size: 1.25rem;
        line-height: 2rem;
    }

}

