#moviedb {
    height: auto; 
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

p {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

/* keyframes for banner animation, reused from portfolio*/
/* @keyframes bannerFadeIn {
    from {
      opacity: 0;
      transform: scale(0.95); 
    }
    to {
      opacity: 80%;
      transform: scale(1); 
    }
} */
  
.moviedb-banner {
    position: fixed;
    top: 7rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 75vh;
    width: 100%;
    border-radius: 10px;
    opacity: 50%;
    /* animation: bannerFadeIn 1s ease-out;  */
}

.moviedbContent {
    height: 85vh;
    padding: 5rem;
    font-size: 6rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* animation: bannerFadeIn 1s ease-out; */
}

/* new styles for sections */
.section {
    margin: 1rem auto;
    padding: 1rem 2.5rem;
    max-width: 65rem;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: whitesmoke;
}

/* styles for overview section buttons */
.project-buttons {
    margin-top: 1rem;
}
  
.project-buttons button {
    width: 25%;
    background-color: yellow; 
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.project-buttons button:hover {
    background-color: white; 
}
  
.moviedb-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: white; 
}

.moviedb-table th, .moviedb-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid yellow; 
}
  
.moviedb-table th {
    background-color: yellow; /* header style */
    color: black; /* header text color */
}

/* row hover effect */
.moviedb-table tr:hover {
    background-color: black; 
    transform: scale(1.02); /* slight enlargement */
}

.subsection {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 2rem;
}
  
.subsection-content {
    flex: 1;
}
  
.subsection-image {
    width: 50%; 
    margin-left: 2rem;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #moviedb, #moviedb h2, #moviedb h3, #moviedb p, #moviedb .section, #moviedb .subsection-content {
        text-align: center; /* center aligns elements */
    }

    #moviedb .moviedbContent, #moviedb .section, #moviedb .subsection, #moviedb .project-buttons {
        display: flex;
        flex-direction: column;
        align-items: center; /* centers content vertically within the section */
    }

    #moviedb .moviedbContent {
        font-size: 4rem; 
    }

    #moviedb h2 {
        font-size: 2rem; 
    }

    #moviedb p, #moviedb .project-buttons button {
        font-size: 1rem; 
    }

    #moviedb .project-buttons button {
        width: 100%;
        padding: 10px 20px; /* increases button size for easier interaction for mobile*/
        margin: 0 0 10px; /* adds space between buttons */
    }

    #moviedb .moviedb-table, #moviedb .moviedb-table table {
        width: 100%; /* ensures the table fits within the screen width*/
        margin: 0;
        table-layout: fixed; /* Prevents horizontal overflow */
    }

    #moviedb .moviedb-table th, #moviedb .moviedb-table td {
        word-wrap: break-word; /* ensures content within table cells does not overflow */
    }

    #moviedb .subsection-image {
        width: 95%; /* adjusts image size to fit within viewport */
        margin: 20px 0; /* adds space above and below images */
    }
}

